* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

html {
    background-image: linear-gradient(120deg, #3d83c9 0%, #d6a9ff 100%);
}


.page__heading {
    width: 100%;
    height: 70px;
    background: #f7f7f7;
    color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
}



#main__element {
    width: 99%;
    height: 700px;
    max-width: 1200px;
    /* padding: 1vw; */
    margin: 80px auto;
    display: flex;
    gap: 1%;
}

.container__inputs {
    width: 34%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 2vw;
    padding-right: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 3px 5px 5px rgba(68, 68, 68, 0.6);
}


.container__input__label {
    font-size: 1rem;
    color: #171717;
}

.container__input__element__wrapper {
    position: relative;
    margin-top: 18px;
    display: flex;
}

.container__input__element {
    height: 35px;
    font-size: 0.8rem;
    color: #171717;
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

.container__input__element:focus {
    border-bottom: 3px solid green;
}

.placeholder {
    position: absolute;
    top: 10px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}

.focused {
    top: -9px;
    left: 0;
    font-size: 0.8rem;
}

.placeholder-color-focused {
    color: green;
}

.container__total-and-region-selection {
    padding: 40px 10px;
    width: 32%;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(68, 68, 68, 0.6);
    background-color: #f7f7f7;
    /* border: 1px solid red; */
}

.container__total-protection {
    display: flex;
    flex-direction: column;
}


.container__input__element__wrapper--total-protection {
    margin-left: 20px;
}

.container__calculated__input__element,
.container__calculated__input__element--cost {
    margin-top: 10px;
    height: 35px;
    width: 80%;
    font-size: 1.3rem;
    border: none;
    outline: none;
    pointer-events: none;
    color: #171717;
}

.container__region-selection {
    margin-top: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.container__dropdown__input__element {
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #f7f7f7;
    border-bottom: 1px solid grey;
    padding: 8px 0px;
    margin-top: 15px;
}

#container__dropdown__snapshot__cost,
#container__dropdown__data-transfer__cost {
    margin-top: 25px;
    color: rgb(103, 103, 103);

}

#remote__snapshot__cost,
#remote__data-transfer__cost,
#primary__snapshot__cost,
#primary__data-transfer__cost {
    font-size: 1.2rem;
    color: #171717;
}

.container__input__wrapper--region-selection {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}


.container__overall__cost {
    width: 33%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 70px;
    padding-left: 2vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 3px 5px 5px rgba(68, 68, 68, 0.6);
}

#calculated-values {
    width: 99%;
    height: 700px;
    max-width: 1400px;
    margin: 80px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1%;
}


.container__calculated__values__primary-region,
.container__calculated__values__remote-region {
    width: 35%;
    height: 110%;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 2.5vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 3px 5px 5px rgba(68, 68, 68, 0.6);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox
input[type=number] {
  -moz-appearance: textfield;
} */