* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Times New Roman', Times, serif;
}

html {
    background-image: linear-gradient(120deg, #3d83c9 0%, #d6a9ff 100%);
}

.page__heading {
    width: 100%;
    height: 50px;
    background: #f7f7f7;
    position: sticky;
    top: 0;
    z-index: 2;
    color: #171717;
    text-align: center;
}

#container {
    width: 98%;
    max-width: 1500px;
    min-width: 1000px;
    margin: 30px auto 0px auto ;
    display: grid;
    grid-template-columns: 0.5fr  1fr;
    grid-template-rows: 120px auto ;
    column-gap: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(68, 68, 68, 0.6);
}

.card-style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 1.5vw 20px 2vw;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(68, 68, 68, 0.6);
}

.container__inputs {
    min-height: 800px;
    grid-row: span 3;
}

.container__input__label {
    font-size: 1.1rem;
    color: #171717;
}

.container__input__wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.container__input__element__wrapper {
    position: relative;
    margin-top: 10px;
    display: flex;
}

.container__input__element {
    height: 35px;
    font-size: 1rem;
    color: #171717;
    width: 95%;
    border: none;
    outline: none;
    border-bottom: 1px solid #afafaf;
    background-color: #f7f7f7;
}


.container__input__element:focus {
    border-bottom: 3px solid green;
}

.placeholder {
    position: absolute;
    top: 10px;
    color: rgb(103, 103, 103);
    pointer-events: none;
    transition: all 0.3s ease;
}

.focused {
    top: -7px;
    left: 0;
    font-size: 0.8rem;
}

.placeholder-color-focused {
    color: green;
}

.container__summary {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 10px 10px 10px ;
    background-color: #f7f7f7;
    border-bottom: 1px solid #0000001f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container__total-protection {
    display: flex;
    width: 20%;
    height: 100%;
    gap: 10px;
}

.container__input__element__wrapper--total-protection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__input__wrapper--cost {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__calculated__input__element,
.container__calculated__input__element--cost {
    margin-top: 8px;
    height: 35px;
    width: 95%;
    font-size: 1.2rem;
    border: none;
    outline: none;
    pointer-events: none;
    /* color: #3a3737; */
    color: darkgreen;
    font-weight: 600;
    background-color: #f7f7f7;
}

.container__dropdown__input__element {
    font-size: 1rem;
    outline: none;
    width: 95%;
    border: none;
    background-color: #f7f7f7;
    border-bottom: 1px solid #afafaf;
    padding: 5px 0px;
    margin-top: 10px;
    color: #171717;
    background-color: #f7f7f7;
}


.container__dropdown__input__element:focus {
    border-bottom: 3px solid green;
}

.container__input__wrapper--region-selection {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

#container__dropdown__snapshot__cost,
#container__dropdown__data-transfer__cost {
    margin-top: 10px;
    font-size: 0.9rem;
    color: rgb(103, 103, 103);
}

#remote__snapshot__cost,
#remote__data-transfer__cost,
#primary__snapshot__cost,
#primary__data-transfer__cost {
    font-size: 1.1rem;
    color: #171717;
}

.input__units {
    color: rgb(103, 103, 103);
    font-size: 0.9rem;
}

.container__input__element__wrapper--calculated {
    margin-top: 10px;
}

.container__region__values{
    grid-row: span 2;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container__primary__region__values, .container__remote__region__values {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 1.5vw 20px 2vw;
    background-color: #f7f7f7;
}

.container__primary__region__values {
    border-right: 1px solid #0000001f;
    border-bottom-left-radius: 10px;
}
.container__remote__region__values {
    border-bottom-right-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}